In [1]:
import pandas as pd

In [2]:

file_path = r"C:\Users\97252\Desktop\Chen_proj\data.csv"
#file_path = '' 
df = pd.read_csv(file_path)

df.head()

C:\Users\97252\AppData\Local\Temp\ipykernel_2196\3610699691.py:3: DtypeWarning: Columns (6,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,ID,Crash ID,crash_fatal_fl,case_id,Primary address,Secondary address,rpt_block_num,rpt_street_name,rpt_street_sfx,crash_speed_limit,...,Crash timestamp (US/Central),Crash timestamp,Is deleted,Is temporary record,Law enforcement fatality count,Reported street prefix,Estimated Maximum Comprehensive Cost,Estimated Total Comprehensive Cost,Location ID,Location group
0,848,13653671.0,False,140050130,1200 LAVACA,12TH ST,1200,LAVACA,NaN,35.0,...,01/05/2014 01:16:00 AM,01/05/2014 07:16:00 AM,False,False,0,NaN,20000,40000,C842E0B8AD,1.0
1,1148,13663307.0,False,140151612,6200 NOT REPORTED HWY,6300 JOE TANNER LN,6200,NOT REPORTED,HWY,45.0,...,01/15/2014 08:23:00 PM,01/16/2014 02:23:00 AM,False,False,0,NaN,20000,40000,NaN,NaN
2,1417,13668262.0,False,140141596,ANTHONY ST,HOLLY ST,NaN,ANTHONY,ST,30.0,...,01/14/2014 07:25:00 PM,01/15/2014 01:25:00 AM,False,False,0,NaN,20000,40000,NaN,NaN
3,1479,13668444.0,False,140181283,4420 NOT REPORTED RD,FINCHER RD RD,4420,NOT REPORTED,RD,-1.0,...,01/18/2014 05:29:00 PM,01/18/2014 11:29:00 PM,False,False,0,NaN,250000,330000,NaN,NaN
4,1670,13671393.0,False,140201033,10010 NOT REPORTED RD,MC NEIL DR,10010,NOT REPORTED,RD,55.0,...,01/20/2014 03:36:00 PM,01/20/2014 09:36:00 PM,False,False,0,NaN,20000,40000,NaN,NaN

In [4]:
df.shape

(224689, 47)

In [3]:
df = df.drop_duplicates()

In [4]:
df["case_id"].value_counts()

case_id
10-0070608        3
10-0631355        3
132240424         3
TX 2024-799354    3
130700836         3
                 ..
210841028         1
202921006         1
203621142         1
210150089         1
252950300         1
Name: count, Length: 221297, dtype: int64

In [5]:
df = df.drop_duplicates(subset=['case_id'])
df["case_id"].value_counts()

case_id
140050130    1
240591406    1
240371156    1
240470894    1
241201108    1
            ..
210840047    1
202901557    1
203560153    1
203591175    1
252950300    1
Name: count, Length: 221297, dtype: int64

In [6]:
null_percentage = df.isnull().mean() * 100


columns_with_nulls = null_percentage[null_percentage > 50]
columns_with_nulls

Reported street prefix    100.0
dtype: float64

In [ ]:
df = df.drop(columns=['ID','Crash ID','case_id','Crash timestamp','Is deleted','Is temporary record'])

In [8]:
df['crash_fatal_fl'].value_counts()

crash_fatal_fl
False    220025
True       1273
Name: count, dtype: int64

In [9]:
columns_to_check = ['Secondary address', 'rpt_street_name', 'crash_speed_limit', 'road_constr_zone_fl', 'latitude', 'longitude']
df = df.dropna(subset=columns_to_check)

In [13]:
dfn=df.isnull().sum()
dfn[dfn>0]

rpt_block_num              27699
rpt_street_sfx             68331
Reported street prefix    217989
Location ID                17081
Location group             17081
dtype: int64

In [15]:
df = df.drop(columns=['Reported street prefix'])

In [17]:
df["Crash timestamp (US/Central)"]

0         01/05/2014 01:16:00 AM
5         01/08/2014 01:35:00 PM
6         01/19/2014 05:31:00 AM
7         01/08/2014 02:30:00 PM
8         01/18/2014 11:04:00 PM
                   ...
224684    11/03/2025 05:15:00 PM
224685    11/01/2025 03:00:00 AM
224686    10/29/2025 12:10:00 PM
224687    10/19/2025 05:31:00 PM
224688    10/22/2025 06:15:00 AM
Name: Crash timestamp (US/Central), Length: 217989, dtype: object

,crash_fatal_fl,Primary address,Secondary address,rpt_block_num,rpt_street_name,rpt_street_sfx,crash_speed_limit,road_constr_zone_fl,latitude,longitude,...,onsys_fl,private_dr_fl,micromobility_serious_injury_count,micromobility_death_count,Crash timestamp (US/Central),Law enforcement fatality count,Estimated Maximum Comprehensive Cost,Estimated Total Comprehensive Cost,Location ID,Location group
0,False,1200 LAVACA,12TH ST,1200,LAVACA,NaN,35.0,False,30.274485,-97.743052,...,False,False,0,0,01/05/2014 01:16:00 AM,0,20000,40000,C842E0B8AD,1.0
5,False,2800 N LAMAR BLVD,SAN GABRIEL ST,2800,LAMAR,BLVD,35.0,False,30.244344,-97.781309,...,True,False,0,0,01/08/2014 01:35:00 PM,0,200000,820000,8031644814,1.0
6,False,1800 LAVACA ST,W 18TH ST,1800,LAVACA,ST,30.0,False,30.280295,-97.740912,...,False,False,0,0,01/19/2014 05:31:00 AM,0,20000,20000,8C385085D8,1.0
7,False,7500 NOT REPORTED,CONVICT HILL RD,7500,NOT REPORTED,NaN,65.0,False,30.216696,-97.848713,...,True,False,0,0,01/08/2014 02:30:00 PM,0,20000,60000,7CF4AA8205F,2.0
8,False,677 MAIRO ST ST,BOGGY RIDGE DR DR,677,MAIRO ST,ST,-1.0,False,30.183030,-97.794860,...,False,False,0,0,01/18/2014 11:04:00 PM,0,20000,20000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224684,False,1900 S TRANQUILO TRL TRL,7300 S BLUFF SPRINGS RD RD,1900,TRANQUILO TRL,TRL,25.0,False,30.180775,-97.769782,...,False,False,0,0,11/03/2025 05:15:00 PM,0,20000,40000,2201B86167,1.0
224685,False,13000 S N IH 35 SB,1300 W HOWARD LN,13000,N IH 35 SB,NaN,65.0,True,30.423001,-97.671890,...,True,False,0,0,11/01/2025 03:00:00 AM,0,20000,20000,90E6322AA0D,2.0
224686,False,13300 N IH 35 SVRD SB,1300 W HOWARD LN,13300,N IH 35 SVRD SB,NaN,-1.0,False,30.410268,-97.674855,...,False,False,0,0,10/29/2025 12:10:00 PM,0,200000,200000,361967E967,1.0
224687,False,707 E E ST JOHNS AVE AVE,7110 N N IH 35 SVRD SB,707,E ST JOHNS AVE,AVE,35.0,False,30.332957,-97.704578,...,True,False,0,0,10/19/2025 05:31:00 PM,0,250000,470000,B969D10606,1.0
224688,False,W WILLIAM CANNON DR,BRANCHWOOD DR,NaN,WILLIAM CANNON,DR,45.0,False,30.185182,-97.756649,...,False,False,0,0,10/22/2025 06:15:00 AM,0,3000000,3220000,D70B8ABFA2,1.0