In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:/Users/97252/Desktop/Chen_proj/data/data.csv")

In [3]:
df.shape

(29744, 21)

### Explanation of Data Type Conversions:

- **OCCUR_DATE**: Converted to `datetime` to facilitate working with dates (e.g., time calculations, extracting temporal features).
  
- **OCCUR_TIME**: Converted to `datetime` and then extracted the time (`.dt.time`) to work with time independently from dates.

- **STATISTICAL_MURDER_FLAG**: Converted to `bool` (True/False) for easier use in classification models (whether it's a murder or not).

- **PERP_AGE_GROUP, PERP_SEX, PERP_RACE, VIC_AGE_GROUP, VIC_SEX, VIC_RACE, BORO, LOC_OF_OCCUR_DESC, LOC_CLASSFCTN_DESC, LOCATION_DESC**: Converted to `category` to save memory and optimize processing, especially when there are a limited number of values.

- **Latitude, Longitude**: Converted to `float64` to ensure the data retains precision and is compatible with models requiring numerical coordinates.

- **X_COORD_CD, Y_COORD_CD**: Converted to `int64` if they represent location codes (not geographic coordinates).

In [4]:
df.dtypes

INCIDENT_KEY                 int64
OCCUR_DATE                  object
OCCUR_TIME                  object
BORO                        object
LOC_OF_OCCUR_DESC           object
PRECINCT                     int64
JURISDICTION_CODE          float64
LOC_CLASSFCTN_DESC          object
LOCATION_DESC               object
STATISTICAL_MURDER_FLAG       bool
PERP_AGE_GROUP              object
PERP_SEX                    object
PERP_RACE                   object
VIC_AGE_GROUP               object
VIC_SEX                     object
VIC_RACE                    object
X_COORD_CD                  object
Y_COORD_CD                  object
Latitude                   float64
Longitude                  float64
Lon_Lat                     object
dtype: object

In [6]:
df['OCCUR_DATE'] = pd.to_datetime(df['OCCUR_DATE'], errors='coerce')
df['OCCUR_TIME'] = pd.to_datetime(df['OCCUR_TIME'], errors='coerce').dt.normalize()
df['STATISTICAL_MURDER_FLAG'] = df['STATISTICAL_MURDER_FLAG'].map({'Y': True, 'N': False})  
df['PERP_AGE_GROUP'] = df['PERP_AGE_GROUP'].astype('category') 
df['PERP_SEX'] = df['PERP_SEX'].astype('category')  
df['PERP_RACE'] = df['PERP_RACE'].astype('category')  
df['VIC_AGE_GROUP'] = df['VIC_AGE_GROUP'].astype('category') 
df['VIC_SEX'] = df['VIC_SEX'].astype('category')  
df['VIC_RACE'] = df['VIC_RACE'].astype('category') 
df['BORO'] = df['BORO'].astype('category')  
df['LOC_OF_OCCUR_DESC'] = df['LOC_OF_OCCUR_DESC'].astype('category')  
df['LOC_CLASSFCTN_DESC'] = df['LOC_CLASSFCTN_DESC'].astype('category')  
df['LOCATION_DESC'] = df['LOCATION_DESC'].astype('category')  
df['Latitude'] = df['Latitude'].astype('float64')  
df['Longitude'] = df['Longitude'].astype('float64')  
df['X_COORD_CD'] = df['X_COORD_CD'].astype('float64')
df['Y_COORD_CD'] = df['Y_COORD_CD'].astype('float64')

ValueError: could not convert string to float: '1,006,693'

In [5]:
df.dtypes

INCIDENT_KEY                         int64
OCCUR_DATE                  datetime64[ns]
OCCUR_TIME                  datetime64[ns]
BORO                              category
LOC_OF_OCCUR_DESC                 category
PRECINCT                             int64
JURISDICTION_CODE                    int64
LOC_CLASSFCTN_DESC                category
LOCATION_DESC                     category
STATISTICAL_MURDER_FLAG               bool
PERP_AGE_GROUP                    category
PERP_SEX                          category
PERP_RACE                         category
VIC_AGE_GROUP                     category
VIC_SEX                           category
VIC_RACE                          category
X_COORD_CD                           int64
Y_COORD_CD                           int64
Latitude                           float64
Longitude                          float64
New Georeferenced Column            object
dtype: object

In [4]:
df.replace("(null)", np.nan, inplace=True)
df = df.drop('INCIDENT_KEY', axis=1)
df = df.drop_duplicates()

C:\Users\97252\AppData\Local\Temp\ipykernel_26656\2361515947.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df.replace("(null)", np.nan, inplace=True)

In [6]:
df.rename(columns={'STATISTICAL_MURDER_FLAG': 'is_murder'}, inplace=True)

In [16]:
df.isnull().sum()

OCCUR_DATE                    0
OCCUR_TIME                    0
BORO                          0
LOC_OF_OCCUR_DESC             0
PRECINCT                      0
JURISDICTION_CODE             0
LOC_CLASSFCTN_DESC            2
LOCATION_DESC               514
is_murder                     0
PERP_AGE_GROUP              263
PERP_SEX                    263
PERP_RACE                   263
VIC_AGE_GROUP                 0
VIC_SEX                       0
VIC_RACE                      0
X_COORD_CD                    0
Y_COORD_CD                    0
Latitude                      0
Longitude                     0
New Georeferenced Column      0
dtype: int64

# Outliners treatment

In [3]:
import pandas as pd

# הגדרת המערך של העמודות הקטגוריאליות
cat_columns = ['BORO', 'LOC_OF_OCCUR_DESC', 'LOC_CLASSFCTN_DESC', 'LOCATION_DESC',
               'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'VIC_AGE_GROUP', 'VIC_SEX', 'VIC_RACE']

# יצירת DataFrame עם שם העמודה וערכים הייחודיים לכל עמודה
unique_values_df = pd.DataFrame({
    'Column': cat_columns,
    'Unique Values': [df[col].astype(str).replace(['nan', ''], pd.NA).dropna().unique() for col in cat_columns]
})

# הצגת ה־DataFrame
pd.set_option('display.max_colwidth', None)  # לא לחתוך ערכים ארוכים
unique_values_df

,Column,Unique Values
0,BORO,"[QUEENS, BRONX, MANHATTAN, BROOKLYN, STATEN ISLAND]"
1,LOC_OF_OCCUR_DESC,"[OUTSIDE, INSIDE]"
2,LOC_CLASSFCTN_DESC,"[STREET, HOUSING, PLAYGROUND, DWELLING, TRANSIT, COMMERCIAL, OTHER, (null)]"
3,LOCATION_DESC,"[(null), MULTI DWELL - PUBLIC HOUS, MULTI DWELL - APT BUILD, GAS STATION, BAR/NIGHT CLUB, HOSPITAL, PVT HOUSE, GROCERY/BODEGA, STORE UNCLASSIFIED, SOCIAL CLUB/POLICY LOCATI, SMALL MERCHANT, PHOTO/COPY STORE, RESTAURANT/DINER, CHAIN STORE, BEAUTY/NAIL SALON]"
4,PERP_AGE_GROUP,"[25-44, (null), 18-24, 65+, <18, 45-64]"
5,PERP_SEX,"[M, (null), F]"
6,PERP_RACE,"[WHITE HISPANIC, (null), BLACK, BLACK HISPANIC, ASIAN / PACIFIC ISLANDER, WHITE]"
7,VIC_AGE_GROUP,"[25-44, 18-24, <18, 45-64, 65+, UNKNOWN]"
8,VIC_SEX,"[M, F, I]"
9,VIC_RACE,"[BLACK, WHITE HISPANIC, BLACK HISPANIC, ASIAN / PACIFIC ISLANDER, WHITE, UNKNOWN, AMERICAN INDIAN/ALASKAN NATIVE]"

##### VIC_SEX COL

In [4]:
# הצגת כל השורות שבהן יש את הערך "I" בעמודת VIC_SEX
rows_with_I = df[df['VIC_SEX'] == 'I']
rows_with_I

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,LOC_OF_OCCUR_DESC,PRECINCT,JURISDICTION_CODE,LOC_CLASSFCTN_DESC,LOCATION_DESC,STATISTICAL_MURDER_FLAG,...,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
161,301609656,02/24/2025,11:30:00,BROOKLYN,INSIDE,83,0,DWELLING,MULTI DWELL - APT BUILD,N,...,M,BLACK,45-64,I,BLACK,1007046,192510,40.695051,-73.917793,POINT (-73.917793 40.695051)

In [5]:
df['VIC_SEX'] = df['VIC_SEX'].replace('I', pd.NA)

##### VIC_RACE COL

In [ ]:
print(df['VIC_RACE'].value_counts())

VIC_RACE
BLACK                             530
WHITE HISPANIC                    132
BLACK HISPANIC                     70
WHITE                              20
ASIAN / PACIFIC ISLANDER           15
UNKNOWN                             1
AMERICAN INDIAN/ALASKAN NATIVE      1
Name: count, dtype: int64

In [7]:
df['VIC_RACE'] = df['VIC_RACE'].replace({'BLACK HISPANIC': 'BLACK',
'WHITE HISPANIC': 'WHITE','ASIAN / PACIFIC ISLANDER': 'OTHER','AMERICAN INDIAN/ALASKAN NATIVE': 'OTHER','UNKNOWN': pd.NA})


print(df['VIC_RACE'].value_counts())

VIC_RACE
BLACK    600
WHITE    152
OTHER     16
Name: count, dtype: int64

##### VIC_AGE_GROUP COL

In [ ]:
df['VIC_AGE_GROUP'] = df['VIC_AGE_GROUP'].replace({'UNKNOWN': pd.NA})

In [13]:
print(df['BORO'].value_counts())

BORO
BRONX            298
BROOKLYN         266
MANHATTAN        111
QUEENS            86
STATEN ISLAND      8
Name: count, dtype: int64

##### PERP_RACE COL

In [10]:
print(df['PERP_RACE'].value_counts())

PERP_RACE
BLACK                       356
(null)                      263
WHITE HISPANIC              100
BLACK HISPANIC               43
ASIAN / PACIFIC ISLANDER      5
WHITE                         2
Name: count, dtype: int64

In [12]:
df['PERP_RACE'] = df['PERP_RACE'].replace({'BLACK HISPANIC': 'BLACK',
'WHITE HISPANIC': 'WHITE','ASIAN / PACIFIC ISLANDER': 'OTHER'})


print(df['PERP_RACE'].value_counts())

PERP_RACE
BLACK     399
(null)    263
WHITE     102
OTHER       5
Name: count, dtype: int64

## Data Preprocessing and Adaptation for Different Models

#### Data for CatBoost, Random Forest, DBSCAN(Models Supporting NAN)

Key Characteristics:

These models automatically handle NAN values during training.

No need to impute missing values or drop columns with missing data.

Keep NAN values in the dataset; the models will handle them.

Steps:

Do not impute or remove NAN values. Keep them in the data.

Proceed with training: No additional processing for NAN or missing values is required.

Clustering (DBSCAN): DBSCAN can be used for clustering without imputing NAN

In [8]:
df_with_nan= df.copy() 

# פיצול לדאטה (Train, Test)
X_with_nan = df_with_nan.drop('is_murder', axis=1)
y_with_nan = df_with_nan['is_murder']

from sklearn.model_selection import train_test_split
X_train_with_nan, X_test_with_nan, y_train_with_nan, y_test_with_nan = train_test_split(X_with_nan, y_with_nan, test_size=0.2, random_state=42)

#### Data for Logistic Regression, Decision Tree, AdaBoost, K-Means (Models not Supporting NAN)

###### Data Preprocessing for Missing Values

###### Handling Missing Values in Categorical Columns:

###### For categorical columns (like PERP_RACE, PERP_AGE_GROUP, PERP_SEX), missing values are replaced with UNKNOWN instead of performing Imputation, as the missing data can be treated as a separate category for the model.

###### Removing Column with More Than 50% Missing Values (LOCATION_DESC):

###### Columns with more than 50% missing values are removed as they do not provide enough useful information for the model.

In [17]:

df_UNKNOWN = df.copy()

# הוספת `UNKNOWN` כקטגוריה לפני מילוי
df_UNKNOWN['PERP_RACE'] = df_UNKNOWN['PERP_RACE'].cat.add_categories('UNKNOWN')
df_UNKNOWN['PERP_AGE_GROUP'] = df_UNKNOWN['PERP_AGE_GROUP'].cat.add_categories('UNKNOWN')
df_UNKNOWN['PERP_SEX'] = df_UNKNOWN['PERP_SEX'].cat.add_categories('UNKNOWN')
df_UNKNOWN['LOC_CLASSFCTN_DESC'] = df_UNKNOWN['LOC_CLASSFCTN_DESC'].cat.add_categories('UNKNOWN')
# מילוי ערכים חסרים ב־`UNKNOWN` בעמודות קטגוריאליות
df_UNKNOWN['PERP_RACE'] = df_UNKNOWN['PERP_RACE'].fillna('UNKNOWN')
df_UNKNOWN['PERP_AGE_GROUP'] = df_UNKNOWN['PERP_AGE_GROUP'].fillna('UNKNOWN')
df_UNKNOWN['PERP_SEX'] = df_UNKNOWN['PERP_SEX'].fillna('UNKNOWN')
df_UNKNOWN['LOC_CLASSFCTN_DESC'] = df_UNKNOWN['LOC_CLASSFCTN_DESC'].fillna('UNKNOWN')
# הסרת עמודת LOCATION_DESC
df_UNKNOWN = df_UNKNOWN.drop('LOCATION_DESC', axis=1)

# פיצול לדאטה (Train, Test)
X_df_UNKNOWN = df_UNKNOWN.drop('is_murder', axis=1)  # משתנה המטרה
y_df_UNKNOWN = df_UNKNOWN['is_murder']

# פיצול לדאטה (Train, Test)
X_train_UNKNOWN, X_test_UNKNOWN, y_train_UNKNOWN, y_test_UNKNOWN = train_test_split(X_df_UNKNOWN, y_df_UNKNOWN, test_size=0.2, random_state=42)